@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-Regular.otf');
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand/Quicksand-LightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

body {
  font-family: Quicksand;
}

.tabs .tab {
  font-weight: bold;
  text-transform: capitalize;
}

.bold {
  font-weight: bold !important;
}
